*{
    margin: auto;
}

/*This is the style Css file
*/
.top-box{
    /* border: 1px solid; */
    height: 100px;
    width: 1295px;
    font-style: italic;
    text-align: center;
    background-color: rgb(168, 93, 238);
    font-size: 25px;
    margin-top: 5px; 
}

.Home ol{
    margin-left: 10px;
    padding-top: 20px;
    text-decoration: underline;
    font: bold;
    font-size: 30px;
}

.row{
    border: 1px solid;
    margin-top: 20px;
    background-image: url(https://10619-2.s.cdn12.com/rests/original/106_510620826.jpg);
    background-repeat: no-repeat;
    height: 600px;
    width: 1100px;
    background-size: 1100px;
}

.row-box{
    /* border: 1px solid red; */
    height: 300px;
    width: 600px;
}

.row-box img{
    height: 300px;
    width: 600px;
}
.row-box button{
    background-color: white;
    margin-left: 5px;
    height: 30px;
    width: 190px;
    border-radius: 10px 10px 0px 0px;
    font-size: 20px;
}

button:hover{
    color: rgb(12, 2, 20);
    background-color: blueviolet;
}

.OurMenu ol{
    font-size: 30px;
    font: bold;
    text-decoration: underline;
    padding-top: 20px;
    margin-left: 10px;
}

.OurMenu Ul{
    margin-left: 90px;
    padding-top: 10px;
    font-size: 25px;
    word-spacing: 10px;
    padding: 20px;
}

.breakfast{
    border: 2px solid;
    height: 40px;
    width: 1100px;
    background-color: rgb(241, 158, 128);
}

.breakfast h1{
    text-align: center;
    font-style: italic;
}


.flex-container{
    width: 1100px;
    height: auto;
    display: flex;
}


.col{
    /* border: 1px solid; */
    width: 1100px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    background-color: rgb(190, 70, 90);


}
.flex-box{
    width: 200px;
    height: 200px;
    background: linear-gradient(purple,red);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#box{
    width: 200px;
    height: 200px;
    background: linear-gradient(purple,red);
    margin-bottom: 20px;
    border-radius: 10px;
    text-align: center;

}

#box img{
    width: 200px;
    height: 200px;
}

.flex-box img{
    width: 200px;
    height: 200px;
}

.grid-container{
    /* border: 1px solid; */
    height: 40px;
    width: 1100px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-item{
    border: 1px solid;
    height: 30px;
    width: 190px;
    font: bold;
}
.grid-item h1{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: rgb(240, 86, 137);
    padding-top: 7px;
}

.grid-item h1:hover{
    background-color: rgb(189, 139, 13)
}

.Lunch{
    border: 2px solid;
    height: 40px;
    width: 1100px;
    background-color: rgb(241, 158, 128);
    margin-top: 20px;
}

.Lunch h1{
    text-align: center;
    font-style: italic;
}

.col-box{
    /* border: 1px solid; */
    width: 1100px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    background-color: rgb(190, 70, 90);
}

.flex-containerA{
    width: 1100px;
    height: auto;
    display: flex;
}

.flex-item{
    width: 200px;
    height: 200px;
    background: linear-gradient(purple,red);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.flex-item img{
    width: 200px;
    height: 200px;
}

.grid-containerA{
    /* border: 1px solid; */
    height: 40px;
    width: 1100px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-box{
    border: 1px solid;
    height: 30px;
    width: 190px;
    font: bold;
}

.grid-box h1{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: rgb(240, 86, 137);
    padding-top: 7px;
}

.grid-box h1:hover{
    background-color: rgb(189, 139, 13)
}

.Dinner{
    border: 2px solid;
    height: 40px;
    width: 1100px;
    background-color: rgb(241, 158, 128);
    margin-top: 20px;
}

.Dinner h1{
    text-align: center;
    font-style: italic;
}

.flex-containerB{
    width: 1100px;
    height: auto;
    display: flex;
}

.flex-C{
    width: 200px;
    height: 200px;
    background: linear-gradient(purple,red);
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.col-boxs{
    /* border: 1px solid; */
    width: 1100px;
    height: 200px;
    display: flex;
    margin-top: 20px;
    background-color: rgb(190, 70, 90);
}

.col-boxs img{
    width: 200px;
    height: 200px;
}

.grid-containerD{
    /* border: 1px solid; */
    height: 40px;
    width: 1100px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.grid-D{
    border: 1px solid;
    height: 30px;
    width: 190px;
    font: bold;
}

.grid-D h1{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    background-color: rgb(240, 86, 137);
    padding-top: 7px;
}

.grid-D h1:hover{
    background-color: rgb(189, 139, 13)
}

.ContactUs-page ol{
    font-size: 30px;
    font: bold;
    text-decoration: underline;
    padding-top: 20px;
    margin-left: 10px;
}

.Contact{
    /* border: 1px solid; */
    height: 600px;
    width: 1100px;
    margin-top: 30px;
    background: linear-gradient(skyblue,purple);
}

.form-box{
    /* border: 1px solid; */
    height: 400px;
    width: 400px;
    margin-top: 50px;
}

form,tr{
    margin-top: 20px;
    margin-left: 50px;
}

#name-box{
    height: 25px;
    width: 270px;
    border-radius: 5px;
}

#Email-box{
    height: 25px;
    width: 270px;
    border-radius: 5px;
}

#Number{
    height: 25px;
    width: 270px;
    border-radius: 5px;
}

#massage{
    border-radius: 5px;
}

#submit{
    height: 30px;
    width: 270px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: blue;
}

#submit:hover{
    background-color: brown;
}

.AboutUs-box ol{
    font-size: 30px;
    font: bold;
    text-decoration: underline;
    padding-top: 20px;
    margin-left: 10px;
}

.About-box{
    /* border: 1px solid; */
    height: 500px;
    width: 1100px;
    background: linear-gradient(rgb(233, 233, 98),rgb(137, 235, 137));
    margin-top: 30px;
    padding-left: 5px;

    
}

.About-Us{
    border: 1px solid;
    height: 40px;
    width: 1090px;
    background-color: rgb(219, 241, 175)

}


.About-box h1{
    text-align: center;
    justify-content: center;
}


.border{
    border: 1px solid;
    width: 1100px;
}


.background{
    height: 3500px;
    width: 1295px;
    background: linear-gradient(aqua,navy,yellow);
}